<!DOCTYPE html>
<html lang="en" layout:decorate="~{modelo}">
  <head>
    <meta charset="utf-8" />
    <title>TADS Store Spring</title>
    <style>
      .titulo-altura-fixa {
        height: 100px;
      }
      .descricao-altura-fixa {
        height: 200px;
        overflow: hidden;
        text-overflow: clip;
      }
    </style>
  </head>

  <body>
    <main role="main" layout:fragment="conteudo">

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-12">
            <h2>Listagem</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-sm-3" th:each="p :${produtos}">
            <img class="img-fluid" src="bolo.jpg" th:src="@{/img/bolo01.jpg}" />
            <h2 th:text="${p.nome}" class="titulo-altura-fixa">Heading</h2>
            <p th:text="${p.descricao}" class="descricao-altura-fixa">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
              euismod. Donec sed odio dui. </p>
            <h3 th:text="${p.precoCompra}">99.00</h3>
            <h3 th:text="${p.precoVenda}">99.00</h3>
            <p>
              <a class="btn btn-primary btn-lg btn-block" href="#" th:href="@{/{id}(id=${p.id})}" role="button">Detalhes &raquo;</a>
            </p>
          </div>
        </div>

        <hr>

      </div>
      <!-- /container -->

    </main>
  </body>
</html>
